.btn-checkbox[type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  outline: none;
}
.btn-checkbox[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  border-color: var(--color);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.btn-checkbox[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  border-color: var(--color);
  border-style: solid;
  background-color: var(--color);
  border-width: 1px;
  border-radius: 2px;
}
.btn-checkbox[type="checkbox"]:disabled::before {
  border-color: gray;
}
.btn-checkbox[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: var(--size);
  left: var(--size);
  width: 60%;
  height: 30%;
  border-style: Solid;
  border-width: 0px 0px 2px 2px;
  transform: rotate(-45deg);
  border-color: white;
}
