img {
  /* animation: App-logo-size,App-logo-spin infinite 5s linear; */
  -webkit-animation-name: App-logo-size,App-logo-spin;
-webkit-animation-duration: 2s, 4s;
}
img:hover {
  animation: none;
}

@keyframes App-logo-size {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(2);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(270deg);
  }
}
